Unitat 1: Introducció a la programació amb Python   
https://colab.research.google.com/drive/17n9gVQZSZgOvL90HiOiZjKp_kXBubAUX?usp=chrome_ntp#scrollTo=nzbDJiQQTzcU     
Per a saber més 
https://docs.python.org/3/tutorial/introduction.html

**LLISTES**     
Una **tupla** (*tuple*) és un tipus molt smeblant a una llista però un cop definida és immutable: no es pot editar. Ni afegir ni eliminar.

In [58]:
# TUPLA (tuple)
tupla = (1, 2, 3, 4, 5, 6, 'Marie Curie', 35.7, False, 'or', True)
print(tupla[9])

# Creo una tupla a partir d'un valor que ja és dins d'una altre tupla. 
name = tupla[6]
namee = 'Marie Curie'

# Imprimeixo el caràcter que em convé.
print(name)
print(name[2])
print(name[3])

# Converteixo el float [posició 7 de la tupla -tupla-] en string per imprimir el punt [posició 2 de la tupla -float-].
float = str(tupla[7])
print(float)
print(float[2])

# Podem separar pel caràcter que considerem un string.
# En aquest cas, per l'espai en blanc, utilitzant la funció split()
n, surname = name.split()
print(n)
print(surname)

# Conversió d'un Determinat string en una llista -[]- de caràcters:
chars = list(surname)
print(chars)

# He convertit en llista de car+acters unaa string qu einicialment era un float: 
fl_chars = list(float)
print(fl_chars)

# string --> llista
str_to_list = list(str(tuple[7])) # he escrit tuple enlloc de tupla: ha convertit en str allò que hi havia dins dels (), sense importar el què.
print(str_to_list)
# float --> string --> llista
float_to_list = list(str(tupla[7])) # ara sí!!!
print(float_to_list)

# Unió dels diferents elements d'una llista by un caràcter --> funció join():
print(''.join(chars))
print(' '.join(chars))
print('.'.join(chars))
print('-'.join(chars))
print('|'.join(chars))

or
Marie Curie
r
i
35.7
.
Marie
Curie
['C', 'u', 'r', 'i', 'e']
['3', '5', '.', '7']
['t', 'u', 'p', 'l', 'e', '[', '7', ']']
['3', '5', '.', '7']
Curie
C u r i e
C.u.r.i.e
C-u-r-i-e
C|u|r|i|e

In [22]:
namee
chars = list(namee)
chars

['Bon', 'dia', 'pel', 'matí']

In [59]:
bondia = "Bon dia pel matí"
lletres = bondia.split()
#c = len(lletres)
print(lletres)

['Bon', 'dia', 'pel', 'matí']

In [26]:
# IDIOM
# L'operador ',' és el creador de tuples. Per exmple, el típic problema d'assignar el valor d'una variable a una altra
# amb Python pot ser resolt en una línia de forma molt elegant utilitzant tuples (es tracta d'un idiom):
a = 5
b = -5
a, b = b, a # Hem creat una tupla --> a, b
print(a)
print(b)

# ex
b = 'Bon'
d = 'dia'
d, b = b, d # Hem creat una tupla --> d, b
print(b, d)

-5
5
dia Bon

DICCIONARIS     
Estructura de dades molt útil en què assignem un valor a una clau en el diccionari:     
Els valors que obtenim de les claus o en imprimir un diccionari mantenen l'ordre d'inserció.

In [27]:
# Codis internacions d'alguns països. La clau o 'key' és el codi de país i, el valor, el seu nom:
country_codes = {34: 'Spain', 376: 'Andorra', 41: 'Switzerland', 424: None}

# Podem buscar
my_code = 34
country = country_codes[my_code]
print(country)

Spain

*country_codes*.keys() --> Obtenció de totes les claus (keys)

In [28]:
# Podem obtenir totes les claus:
print(country_codes.keys())

dict_keys([34, 376, 41, 424])

*country_codes*.values() --> Obtenció de tots els valors:

In [29]:
# O els valors:
print(country_codes.values())

dict_values(['Spain', 'Andorra', 'Switzerland', None])

In [30]:
# Podem modificar els valors del diccionari o afegir noves claus.

# Definim un diccionari buit. country_codes = dict() és una notació equivalent:
country_codes = {}

# Afegim un element:
country_codes[34] = 'Spain'

# N’afegim un altre:
country_codes[81] = 'Japan'
print(country_codes)

{34: 'Spain', 81: 'Japan'}

In [31]:
# Modifiquem el diccionari:
country_codes[81] = 'Andorra'

print(country_codes)

{34: 'Spain', 81: 'Andorra'}

In [32]:
# Podem assignar un valor buit a un element:
country_codes[81] = None

print(country_codes)

{34: 'Spain', 81: None}

Els valors buits ens seran útils per a declarar una variable que no sapiguem quin valor o quin tipus de valor contindrà i per a fer comparacions entre variables. Típicament, els valors buits són `None` o `''` en el cas de les cadenes de caràcters.

3.1. Using Python as a Calculator

In [33]:
width = 20.5
height = 5 * 9
width * height

922.5

**To escape the single quote**     
To quote a quote, we need to “escape” it, by preceding it with \. Alternatively, we can use the other type of quotation marks:

In [35]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"  # ...or use double quotes instead

"doesn't"

In [36]:
# With print(), special are interpreted
s = 'First line. \nSecond line.'
print(s)
s

First line.
Second line.

'First line. \nSecond line.'

In [37]:
print(s)

First line.
Second line.

**PAC 1**

In [38]:
# Dades
llista_menjar_saludable = ["enciam", "ceba"]
element_pastanaga = "pastanaga"
element_tomàquet = "tomàquet"
llista_fruites = ["taronja", "pera", "platano"]
llista_llegums = ["pèsols", "cigrons"]

# Resposta
llista_menjar_saludable.append([element_pastanaga, element_tomàquet, llista_fruites, llista_llegums])
print(llista_menjar_saludable)

['enciam', 'ceba', ['pastanaga', 'tomàquet', ['taronja', 'pera', 'platano'], ['pèsols', 'cigrons']]]

In [39]:
# Dades
llista_menjar_saludable = ["enciam", "ceba"]
element_pastanaga = "pastanaga"
element_tomàquet = "tomàquet"
llista_fruites = ["taronja", "pera", "platano"]
llista_llegums = ["pèsols", "cigrons"]

# Resposta
llista_menjar_saludable.append(element_pastanaga)
llista_menjar_saludable.append(element_tomàquet)
llista_menjar_saludable.append(llista_fruites)
llista_menjar_saludable.append(llista_llegums)
print(llista_menjar_saludable)

['enciam', 'ceba', 'pastanaga', 'tomàquet', ['taronja', 'pera', 'platano'], ['pèsols', 'cigrons']]

In [40]:
# Dades
llista_menjar_saludable = ["enciam", "ceba"]
element_pastanaga = "pastanaga"
element_tomàquet = "tomàquet"
llista_fruites = ["taronja", "pera", "platano"]
llista_llegums = ["pèsols", "cigrons"]

# Resposta
# Resposta
llista_menjar_saludable.append(element_pastanaga)
llista_menjar_saludable.append(element_tomàquet)
llista_menjar_saludable.append(llista_fruites[0])
llista_menjar_saludable.append(llista_fruites[1])
llista_menjar_saludable.append(llista_fruites[2])
llista_menjar_saludable.append(llista_llegums[0])
llista_menjar_saludable.append(llista_llegums[1])
llista_menjar_saludable = sorted(llista_menjar_saludable)
print(llista_menjar_saludable[0:3])

['ceba', 'cigrons', 'enciam']

In [41]:
paraula = "bioinformatica"
numero_sencer = 256
numero_decimal = 3.1415

# Resposta
print(type(paraula), 'paraula', paraula, type(numero_decimal), 'numero_decimal', numero_decimal, type(numero_sencer), 'numero_sencer', numero_sencer)

<class 'str'> paraula bioinformatica <class 'float'> numero_decimal 3.1415 <class 'int'> numero_sencer 256

In [42]:
cometes = 'string'
d_cometes = "string"
t_cometes = """string"""
print( cometes, d_cometes, t_cometes)

string string string

In [43]:
a = 2*10

b = 5/4.

c, a = a+3, b*4

b = a // 3

print(a, b, c)

5.0 1.0 23

In [44]:
a = 2*10
print(a)

20

In [45]:
b = 5/4
print(b)

1.25

In [46]:
c, a = a+3, b*4 # c --> a + 3 quan a --> 1.25*4 = 5, llavors c --> 5 + 3 = 8
print('c --> ', c)
print('a ---> ', a)

c -->  23
a --->  5.0

In [47]:
b = a // 3 # b --> a = 5.0 // 3 --> 1
print(b)
print(5.0//3)

1.0
1.0

In [48]:
print('a --> ', a)
print('b --> ', b)
print('c --> ', c)

a -->  5.0
b -->  1.0
c -->  23

In [64]:
planetas = 'Saturno', 'Jupiter', 'Tierra'
type(planetas)

tuple

In [67]:
t = ('123', 'abc', 0, )
type(t)
t

('123', 'abc', 0)

In [68]:
dias = ['Lunes', 'Martes', "Miercoles", ''.join(['J','u','e','v','e','s'])]
dias

['Lunes', 'Martes', 'Miercoles', 'Jueves']

In [69]:

matriz = [[],[],[],[],()]
matriz

[[], [], [], [], ()]

In [74]:
t = r = s = u = 0 + 1
t, r, s, u
u
r
s
t

1

In [60]:
a = 1; a += 1; 
a

2

In [59]:
a += []

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

In [61]:
br = matriz + a
br

TypeError: can only concatenate list (not "int") to list

In [62]:
a = a + matriz

TypeError: unsupported operand type(s) for +: 'int' and 'list'

List Comprehension          
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.      
Example:        
Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.     
https://www.w3schools.com/python/python_lists_comprehension.asp

In [75]:
# "for" example
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [76]:
# list comprehension 
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

The Syntax      
newlist = [*expression* for *item* in *iterable* if *condition* == True]        
The return value is a new list, leaving the old list unchanged.

Condition       
The condition is like a filter that only accepts the items that valuate to True.

In [78]:
# Example 
newlist = [x for x in fruits if x != "apple"]
# Only accepts items that are not "apple"
newlist

['banana', 'cherry', 'kiwi', 'mango']

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".     

The condition is optional and can be omitted:

In [79]:
# With no"if" statement
newlist = [x for x in fruits]
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

Iterable        
The iterable can be any iterable object, like a list, tuple, set etc.

In [80]:
# You can use the range() function to create an iterable:
newlist = [x for x in range(10)]
newlist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
# Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

Expression      
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [83]:
# Set the values in the new list to upper case:
newlist = [x.upper() for x in fruits]
newlist

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [81]:
# Set all values in the new list to 'hello':
newlist = ['hello' for x in fruits]
newlist

['hello', 'hello', 'hello', 'hello', 'hello']

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [84]:
# Return "orange" instead of "banana":
newlist = [x if x != "banana" else "orange" for x in fruits]
# "Return the item if it is not banana, if it is banana return orange".
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [87]:
def suma(a, b):
    return a + b

print(suma(2, 3))

5

In [90]:
value = (1 == 2 and 'test') or (2 == 3 and 'testtwo') or 'nope!'
value

'nope!'

In [1]:
def Ex1(t, w):
    x = (t*2*w)**2
    return x
print(Ex1(5, 12))

14400

If you want to compare the number of days in the timedelta object with an integer, you should extract the days from the timedelta object using its days attribute. Here's how you can do it:        

def test_dies():        
    assert dies.days == 21413       
        
This code will access the days attribute of the timedelta object dies, which gives the number of days as an integer, and then compare it with 21413. If dies indeed represents a timespan of 21413 days, the test will pass.

In [4]:
from datetime import date
start_date = date(1964, 12, 1)
end_date = date(2023, 7, 18)
dies = end_date - start_date
dies, type(dies)

(datetime.timedelta(days=21413), datetime.timedelta)

In [3]:
from datetime import date
start_date = date(1964, 12, 1)
end_date = date(2023, 7, 18)
dies = end_date - start_date
dies = dies.days # Amb l'argument .days extreus (aïlles) el valor de days obtenint un 'int' enlloc d'un 'datetime.timedelta'
dies, type(dies)

(21413, int)

from datetime import time       

# create a time object      
t = time(13, 20, 13)  # represents the time 13:20:13            

print(t)  # Outputs: 13:20:13       

In the above example, the time function is called with three arguments to represent hour, minute, and second respectively.      

The datetime.time object has attributes to access time elements:        

t = time(13, 20, 13)        

print("hour :", t.hour)     
print("minute :", t.minute)     
print("second :", t.second)         
print("microsecond :", t.microsecond)       

Output:     

hour : 13       
minute : 20     
second : 13     
microsecond : 0